<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <distributable/>

    <listener>
        <listener-class>it.carlotto.tiwria.utils.ConnectionsHandler</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>doLogin</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.doLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeBid</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.placeBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>closeAuction</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.closeAuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addArticle</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.addArticle</servlet-class>
        <multipart-config>
            <max-file-size>2097152</max-file-size>
            <max-request-size>2098176</max-request-size>
        </multipart-config>
    </servlet>
   <servlet>
       <servlet-name>addAuction</servlet-name>
       <servlet-class>it.carlotto.tiwria.controllers.addAuction</servlet-class>
   </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openAuctionsWithSearch</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.openAuctionsWithSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bidsByAuctionId</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.bidsByAuctionId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>articlesByAuctionId</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.articlesByAuctionId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wonAuctionsWithArticles</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.wonAuctionsWithArticles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auctionsForOwner</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.auctionsForOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availableArticles</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.availableArticles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auctionsFromIds</servlet-name>
        <servlet-class>it.carlotto.tiwria.controllers.auctionsFromIds</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>doLogin</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeBid</servlet-name>
        <url-pattern>/placeBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>closeAuction</servlet-name>
        <url-pattern>/closeAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addArticle</servlet-name>
        <url-pattern>/addArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAuction</servlet-name>
        <url-pattern>/addAuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openAuctionsWithSearch</servlet-name>
        <url-pattern>/openAuctionsWithSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bidsByAuctionId</servlet-name>
        <url-pattern>/bidsByAuctionId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>articlesByAuctionId</servlet-name>
        <url-pattern>/articlesByAuctionId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wonAuctionsWithArticles</servlet-name>
        <url-pattern>/wonAuctionsWithArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auctionsForOwner</servlet-name>
        <url-pattern>/auctionsForOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availableArticles</servlet-name>
        <url-pattern>/availableArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auctionsFromIds</servlet-name>
        <url-pattern>/auctionsFromIds</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>loginChecker</filter-name>
        <filter-class>it.carlotto.tiwria.filters.loginChecker</filter-class>
    </filter>
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresDefault</param-name>
            <param-value>access plus 30 minutes</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType application/json</param-name>
            <param-value>access plus 0 seconds</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>loginChecker</filter-name>
        <servlet-name>placeBid</servlet-name>
        <servlet-name>closeAuction</servlet-name>
        <servlet-name>addArticle</servlet-name>
        <servlet-name>addAuction</servlet-name>
        <servlet-name>openAuctionsWithSearch</servlet-name>
        <servlet-name>bidsByAuctionId</servlet-name>
        <servlet-name>articlesByAuctionId</servlet-name>
        <servlet-name>wonAuctionsWithArticles</servlet-name>
        <servlet-name>auctionsForOwner</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>